@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito Sans';
		-webkit-text-size-adjust: none; /* for iOS Safari */
		text-size-adjust: none; /* for other mobile browsers */
	}

	html:focus-within {
		scroll-behavior: smooth;
	}
	body {
		min-height: 100vh;
		text-rendering: optimizeSpeed;
		background-image: url('/World-Map.webp');
		background-attachment: fixed;
		background-repeat: repeat-x;
		background-position: bottom;
		background-size: max(80rem, 100vw);
		transition: background-position 20s ease-in;
		animation: world 200s linear 0s infinite;
	}
	@keyframes world {
		0% {
			background-position-x: max(80rem, 100vw);
		}
		100% {
			background-position-x: -max(80rem, 100vw);
		}
	}

	/* Add pointer cursors to interactive elements  */
	label,
	button,
	select,
	summary,
	[type='radio'],
	[type='submit'],
	[type='checkbox'] {
		cursor: pointer;
	}

	/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}

		*,
		*::before,
		*::after {
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}

	/* custom scrollbar */

	body {
		scrollbar-gutter: stable both-edges;
	}
	::-webkit-scrollbar {
		width: min(0.5rem, 0.5vw);
		min-width: 100%;
	}
	::-webkit-scrollbar-track {
		@apply bg-light-mode-dark-gray;
		border-radius: 100px;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-dark-mode-dark-blue;
		border-radius: 100px;
	}

	.dark ::-webkit-scrollbar-track {
		@apply bg-light-mode-very-dark-blue;
		border-radius: 100px;
	}

	.dark ::-webkit-scrollbar-thumb {
		@apply bg-light-mode-very-light-gray;
		border-radius: 100px;
	}
}
